* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    z-index: 10;
}

#logo {
    width: 50%;
    height: 50%;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

/*------------------banner section--------------*/
#banner {
    background-image: linear-gradient(to right, #000000, #4754f6);
    color: #fff;
    padding-top: 5%;
}

#banner h1 {
    margin-top: 100px;
}

#sub-promo {
    font-size: 20px;
    overflow: hidden;
    /* Keeps the content on a single line */
    margin: 20px auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .00em;
}

.banner-image {
    padding: 20px 10px;
}

#intro {
    padding: 10px 20px;
}

.bottom-img {
    width: 100%;
    height: 200px;
}

/*------------------------Scroll section ----------------------------*/
#scroll-section {
    padding: 80px 0;
}

#description {
    text-align: center;
    padding: 20px 20px;
}

#sub-description {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding: 0 97px;
}

/*----------------------------Services section------------------------- */
#services {
    padding: 80px 0px;
    background-color: #4754f6;
    color: #fff;
}

#services .title1 {
    margin-bottom: 60px;
}

.service-content {
    padding: 20px;
}

.service-content h4 {
    padding: 5px;
    margin-top: 25px;
}


/*----------------------------About us section-------------------------*/
#about-us {
    background-color: #f8f9fa;
    padding: 80px 0px;
}

#about-us .title2 {
    margin-bottom: 60px;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
}

#about-us ul li {
    margin: 10px 0;
    font-size: 19px;
}

#about-us ul {
    margin-left: 20px;
}

/*------------------------------Products-------------------------------*/
#products {
    padding: 80px 0;
    text-align: center;
    background-color: #4754f6;
    color: #fff;
}

.product1 img {
    width: 560px;
    border-radius: 5%;
    transition: 0.5s;
}

.product1 img:hover {
    opacity: 0.8;
}

.product1 p {
    font-size: 20px;
}

/*---------------------------Social Media Section-----------------------*/
#social-media {
    padding: 80px 0;
    background-color: #fff;
}

#social-media h1 {
    margin-bottom: 30px;
}

.social-icons img {
    width: 80px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}

/*------------------------------Footer section-------------------------*/

#footer {
    background-image: linear-gradient(to right, #0dffea, #4754f6);
    text-align: center;
    padding: 80px 0;
    color: #fff;
}

#footer ul {
    list-style-type: none;
}

#footer li {
    padding-bottom: 5px;
}

.footer-img {
    width: 100%;
    height: 200px;
}

#footer-logo {
    margin-bottom: 20px;
}

.footer-description {
    font-size: 18px;
}

.link {
    color: #eee;
    font-size: 17px;
}

#email-link {
    color: #fff;
    display: block;
    font-size: 17px;
}

#phone-link {
    color: #fff;
    display: block;
    font-size: 17px;

}

#contact h4 {
    margin-bottom: 20px;
}

#copyright {
    margin-top: 90px;
    font-size: 19px;
}

#phone-icon {
    display: inline;
}

@media only screen and (max-width: 488px) {
    #sub-description {
        padding: 0 20px;
    }
}

.policy-container {
    margin: 20px 40px;
}

.policy-container li {
    list-style-position: inside;
}